@import "config/variables";

* {
  font-family: 'Poppins';
  color: $black;
}

.twist-enter-active, .twist-leave-active {
  transition: opacity .7s, transform .7s;
}

.twist-enter, .twist-leave-to {
  opacity: 0;
  transform: scale(0.4) rotate(-90deg);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
